@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
  .btn {
  @apply bg-[#f8f9fa] rounded-md text-gray-800 hover:ring-1 hover:ring-gray-200
  active:ring-gray-300 hover:shadow-md w-36 h-10 transition-shadow;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
